html{
		cursor:url("https://57.media.tumblr.com/15a0147aeaf62ccdc9b14bc3688bbcd4/tumblr_o0l9vtd2NP1ufxsuho2_r1_75sq.gif"), auto;

}


#container {
	text-align:center;
}
#totalScoreDiv{
	text-align:center;
}
#smartwords{
	text-align:center;
}